#red{
    color: red;
}
#blue{
    color:blue;
}
#yellow{
    color: yellow;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#bl{
    width: 200px;
    height: 200px;
}
#g{
    width: 200px;
    height: 200px;
}
#y{
    width: 200px;
    height: 200px;
}
#redd{
    width: 200px;
    height: 200px;
}
